html {
  font-size: 62.5%;
}

body {
    background-color: #F4F6F7;
}

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  margin: 1rem;
}

.donate {
  height: 3vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-menu {
  padding-top: 1rem;
  background-color: #49274A;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 2vmin);
  color: white;
}

.App-header {
  padding-top: 1rem;
  padding: 3rem 0;
  background-color: #082942;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 2vmin);
  color: white;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 2vmin);
  color: white;
}

.heading {
  margin: 0;
}

.header-content {
  display: flex;
}

.Country {
  margin-bottom: 4rem;
  color: #4F5D75;
  background-color: white;
  padding: 2.5rem;
  border-radius: 2.5rem;
}

.Filter {
  margin: 5rem;
  color: #212121;
}

.filter-input {
  border-radius: 0.4rem;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CountryHeading {
  font-size: 4rem;
  font-weight: 800;
  width: 30rem;
  padding-bottom: 1.5rem;
  border-bottom: 3px solid #5B2333;
  margin: 1rem 0px 2rem;
  display: block;
  color: #003C8C;
}

.Country {
  margin-bottom: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  font-size: 2rem;
}

.Footer {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #082942;
  padding-top: 5vh;
  transform: translateY(80%);
  font-size: 1.6rem;
}

.donate {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  font-size: 1rem;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #009180;
}

.row {
  display: flex;
  width: 30rem;
  max-width: 45rem;
  justify-content: space-between;
}

.row-label {
  font-size: 2.5rem;
}

.row-stats {
  color: #293035;
  font-size: 2.5rem;
}